params {
    // 1. Inputs (Can be overridden on command line)
    manifest      = "${projectDir}/manifest.txt"
    ref_seqs      = "${projectDir}/closed_picking_ref_07-30-2024.qza"
    outdir        = "${projectDir}/results"
    bind_path     = null

    // 2. Adjustable Parameters
    min_frequency = 10
    min_mergelen  = 350
    cluster_perc  = 0.99
    threads       = 8
}

env {
    MPLCONFIGDIR     = "./.cache/mpl"
    XDG_CACHE_HOME   = "./.cache/xdg"
    NUMBA_CACHE_DIR  = "./.cache/numba"
}

process {
    // Use the specific QIIME 2 Amplicon image you requested
    container = 'docker://quay.io/qiime2/amplicon:2024.5'
    
    // Error handling: if a step fails, finish the others if possible
    errorStrategy = 'finish'
}

profiles {
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        // singularity.runOptions = "-B /data"
        singularity.runOptions = params.bind_path ? "-B ${params.bind_path}" : ""
    }
}
